doctype html
html
  head
    title Alias One - Play with yours words!
    link(rel='stylesheet' href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='stylesheets/main.css')
  body
    block content
    
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')