body{
	padding-top: 70px;
}

.center{
    text-align: center; /* Выравнивание по центру */
    margin-top: 0; /* Отступ сверху */
    margin-bottom: 5px; /* Отступ снизу */
}
.del:hover{
	background-color: #ccc;
	cursor: pointer;
}
.step-2 .alert-danger ul:after{
	content: 'Не выбрано кол-во слов . . . ';
	display: block;
	text-align: center;
}
.step-3 .alert-danger ul:after{
	content: 'Не выбрано кол-во секунд на ход . . . ';
	display: block;
	text-align: center;
}
.alert{
	transition-duration: 1s;
}
.input-group {
    margin: 8px 0px;
}
.btn{
	margin: 8px 0px;
}
